

    body, html {
        height: 100%;
        background-image: url(./images/background/background1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }


    .title {   
        color:darkred;
        text-align: end;
        font-weight: 600;
        font-size: 45px;
        padding-right: 15%;
    }

    .foodMenu {
        font-size: large;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        text-align: start;
    }